.addCategoryHeaderadmin {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 40px 16px 20px 16px;
}

.backButtonadmin {
  position: absolute;
  left: 16px;
  background: none;
  border: 2px solid #d54343;
  color: #d54343;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.backButtonadmin:hover {
  background: #d54343;
  color: white;
}

.pageTitleadmin {
  font-size: 32px;
  font-weight: 900;
  color: #d54343;
  margin: 0;
}
.addCategoryHeaderadmin {
  position: relative;
  padding: 40px 16px 20px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submitButton{
    margin-left: 44%;
}

.categoryinputWrapper{
  position: relative;
  box-sizing: border-box;
  border: 2px dashed #ccc;
  border-radius: 15px;
  padding: 10px;
  width: 210px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.categoryinputWrapper::before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: "Traffic";
  color: #888;
  pointer-events: none;
  user-select: none;
}

.categoryinputWrapper input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  border: none;
}

.categoryinputWrapper input::-webkit-file-upload-button {
  visibility: hidden;
}