.addManagerTitle {
  text-align: center;
  font-size: 30px;
  color: #d54343;
  font-weight: 800;
  margin-bottom: 24px;
  animation: slideInFade 0.6s ease forwards;
}

.addManagerBox {
  min-width: 500px;
  background: #ffffff;
  padding: 40px 32px;
  border-radius: 16px;
  /* border: 1px solid #d54343; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  direction: rtl;
  display: flex;
  flex-direction: column;
  gap: 40px;
  animation: fadeInUp 0.7s ease-out;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.addmanager-inputWrapper {
  position: relative;
  /* margin: 24px 0 0; */
}

.addmanagerInput {
  width: 100%;
  padding: 14px 16px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background: transparent;
  transition: 0.3s ease;
  outline: none;
}

.addmanagerInput:focus {
  border-color: #c4204b;
}

.addmanager-floatingLabel {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  background-color: white;
  padding: 0 6px;
  color: #999;
  font-size: 14px;
  pointer-events: none;
  transition: 0.2s ease all;
}

.addmanagerInput:focus + .addmanager-floatingLabel,
.addmanagerInput:not(:placeholder-shown) + .addmanager-floatingLabel {
  top: 0px;
  right: 12px;
  font-size: 13px;
  color: #d54343;
}

.addmanagerButton {
  width: 100%;
  margin-top: 32px;
  padding: 14px 0;
  background-color: #d54343;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 6px 16px rgba(213, 67, 67, 0.2);
  letter-spacing: 1px;
}

.addmanagerButton:hover {
  background-color: #c53a3a;
  transform: scale(1.02);
  box-shadow: 0 8px 24px rgba(213, 67, 67, 0.25);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFade {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}