.addProductContainer {
  margin-top: 0px;
  max-width: 700px;
  margin: auto;
  margin-right: 500px;
  padding: 32px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 24px;
  direction: rtl;
}

.inputGroup {
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.inputGroup .inputWrapper {
  flex: 1;
  min-width: 0;
}

.inputWrapper {
  position: relative;
  flex: 1;
  min-width: 200px;
}

.inputWrapper input,
.inputWrapper textarea,
.inputWrapper select {
  width: 100%;
  padding: 16px 12px 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  font-family: "Traffic";
  background: none;
  transition: border-color 0.2s ease;
}

/* .inputWrapper textarea {
  resize: vertical;
  min-height: 80px;
} */

.inputWrapper input:focus,
.inputWrapper textarea:focus,
.inputWrapper select:focus {
  border-color: #c4204b;
}

.adminFloatingLabel {
  position: absolute;
  top: 14px;
  right: 12px;
  font-size: 14px;
  font-family: "Traffic";
  color: #999;
  background-color: white;
  padding: 0 4px;
  transition: all 0.2s ease;
  pointer-events: none;
}

.inputWrapper input:focus + .adminFloatingLabel,
.inputWrapper input:not(:placeholder-shown) + .adminFloatingLabel,
.inputWrapper textarea:focus + .adminFloatingLabel,
.inputWrapper textarea:not(:placeholder-shown) + .adminFloatingLabel,
.inputWrapper select:focus + .adminFloatingLabel,
.inputWrapper select:not(:placeholder-shown) + .adminFloatingLabel {
  top: -10px;
  right: 10px;
  font-size: 12px;
  color: #c4204b;
}

.submitButton {
  padding: 12px 24px;
  background-color: #b84050;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  align-self: flex-end;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #9e2f3f;
}

.addAttributeBtns {
  display: block;
  margin: 15px auto 0 auto;
  /* padding: 6px 12px; */
  padding: 0px 12px;
  width: fit-content;
  background-color: transparent;
  color: #444;
  border: 1px solid #666;
  border-radius: 100%;
  font-weight: 600;
  font-size: 28px;
  font-family: "Kamran";
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* box-shadow: 0 3px 6px rgba(231, 84, 84, 0.3); */
}

.addAttributeBtns:hover {
  color: #c4204b;
  border-color: #c4204b;
}

.attributesTitle {
  text-align: center;
  color: #888;
  font-weight: 700;
  font-size: 22px;
  margin: 20px 0 10px 0;
  font-family: "B Elm";
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* text-shadow: 1px 1px 2px rgba(231, 84, 84, 0.5); */
}
.pageTitle{
  margin-bottom: 5px;
  text-align: center;
  font-weight: normal;
  font-size: 22px;
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
  text-shadow: -6px 6px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: 'Vazirmatn';
}

.imageInput {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #e1aab4;
  border-radius: 8px;
  font-size: 14px;
  background-color: #fff;
  transition: border-color 0.2s ease;
  cursor: pointer;
  color: #555;
  direction: rtl;
}

.imageInput:focus {
  outline: none;
  border-color: #b84050;
}

.imageInput::file-selector-button {
  background-color: #e75454;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: auto;
  margin-left: 8px;
  direction: ltr;
}

.imageInput::before {
  content: "تصویر دسته را انتخاب کنید";
  margin-right: 12px;
  color: #888;
  font-style: italic;
  white-space: nowrap;
}

.imageInput::-webkit-file-upload-button {
  visibility: hidden;
}
.stepButtonsaddproduct {
  display: flex;
  justify-content: space-between;
  /* margin-top: 24px; */
}

.stepButtonsaddproduct.singleButtonaddproduct {
  justify-content: center;
}

.nextBtnaddproduct,
.backBtnaddproduct,
.submitBtnaddproduct {
  padding: 8px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 600;
  font-family: "Digikala ";
  background-color: #dc2655;
  color: white;
}

.backBtnaddproduct{
  background-color: #e0e0e0;
  color: #fff;
}

.nextBtnaddproduct:hover,
.submitBtnaddproduct:hover {
  background-color: #c4204b;
}
.imageCardLabel {
  font-family: "Traffic";
  font-size: 16px;
  color: #999;
  text-align: center;
  margin-bottom: 6px;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  user-select: none;
}

.inputWrapper[style*="flex-direction: column"] {
  margin: auto;
}

.variant-input{
  width: 100%;
  padding: 3px 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  font-family: "Traffic";
  background: none;
  color: #666;
  margin: 2px 0 16px;
}

.variant-namelab{
  color: #333;
  font-family: "Traffic";
}