.add-warehouse-container {
  width: 80%;
  max-width: 500px;
  margin: 10px auto;
  direction: rtl;
  padding: 20px 40px;
  border-radius: 10px;
  background: #fafafa;

  direction: rtl;
  box-shadow: 0 10px 30px rgba(77, 77, 77, 0.2);
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  color: #333;
  /* margin-top: -20px; */
}

.add-warehouse-form label {
  display: block;
  /* margin-bottom: 15px; */
  padding: 6px;
  color: #dc2655;
  font-family: "Traffic";
}

.add-warehouse-form input,
.add-warehouse-form textarea {
    width: 100%;
    padding: 6px 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    font-family: "Traffic";
    background: none;
    transition: border-color 0.2s 
ease;
}

.add-warehouse-form textarea {
  height: 70px;
}

.shelves-dis-button{
  background-color: transparent;
  /* border: 1px solid #dc2655; */
  border: none;
  color: #dc2655;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Kamran", sans-serif;
  transition: all 0.3s ease;
}

.shelves-dis-button:hover{
  color: #c4204b;
  font-size: 17px;
}

/* .add-warehouse-form button:hover {
  background-color: #c2204a;
} */

.section-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #f1f1f1; */
  padding: 10px 15px;
  /* border-radius: 10px; */
  border-bottom: 1px solid #333;
  margin-bottom: 12px;
  /* border: 1px solid #ddd; */
  transition: background-color 0.3s ease;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07); */
}

/* .section-row:hover {
  background-color: #eaeaea;
} */

.section-row label {
  font-weight: bold;
  font-size: 15px;
  color: #333;
  margin-right: 12px;
  white-space: nowrap;
  flex: 1;
}

.section-row select {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  border: 1.5px solid #4caf50;
  font-weight: 600;
  cursor: pointer;
  width: 150px;
  background-color: white;
  flex: 2;
}

/* دکمه حذف بخش */
.remove-section-button {
  background-color: transparent !important;
  border: none !important;
  color: #e74c3c !important;
  font-size: 22px !important;
  cursor: pointer !important;
  margin-left: 10px !important;
  padding: 0 !important;
  line-height: 1 !important;
  transition: color 0.2s ease !important;
  margin: 0 20px 0 10px ;
}

.remove-section-button:hover {
  color: #c0392b;
}

/* دکمه افزودن بخش */
.add-section-button {
  background-color: #6d87f8ce !important;
  color: white !important;
  padding: 10px 18px !important;
  border: none !important;
  border-radius: 8px !important;
  font-size: 14px !important;
  cursor: pointer !important;
  transition: background-color 0.2s ease !important;
  display: block;
  margin: 15px auto;
  width: 120px;
  text-align: center;
}

.add-section-button:hover {
  background-color: #45a049 !important;
}

.add-section-button:active {
  transform: scale(0.96);
  box-shadow: 0 3px 6px rgba(25, 118, 210, 0.8);
}

/* دکمه ثبت انبار */
.submit-button1 {
  width: 100%;
  background-color: #dc2655;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-family: "Digikala ";
  font-size: 16px;
  padding: 8px;
  transition: background-color 0.3s ease;
  margin: 20px auto 20px auto;
  display: block;
}

.add-warehouse-form label.checkbox-label {
  display: flex;
  /* align-items: center; */
  gap: 6px;
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.add-warehouse-form label.checkbox-label input[type="checkbox"] {
  margin: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
