@font-face {
  font-family: 'Estedad';
  src: url('./src/fonts/Estedad[wght,kshd].ttf') format('truetype');
}

.adminProductCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* padding: 16px; */
  width: 220px;
  height: 310px;
  background: #ffffff;
  /* border: 1px solid #d54343; */
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  direction: rtl;
  perspective: 800px;
}

.adminProductCard:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.adminProductCard__image {
  width: auto;
  height: 150px;
  margin-top: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.adminProductCard:hover .adminProductCard__image {
  /* transform: scale(1.2) rotate(4deg); */
}

.adminProductCard__details {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.adminProductCard__name {
  margin: 0;
  padding: 5px;
  font-size: 14px;
  font-family: "Estedad";
  color: #000000;
}

.adminProductCard__info {
  font-size: 12px;
  font-family: "Estedad";
  font-weight: 0;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.3s;
}
/* 
.adminProductCard:hover .adminProductCard__info {
  color: #9e3030;
} */