.adminProductDetailContainer {
  min-width: 650px;
  height: 100%;
  direction: rtl;
  padding: 0px 40px;
  background-color: #fff;
  /* border: 3px solid #d54343; */
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(77, 77, 77, 0.2);
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  color: #333;
  /* margin-top: -20px; */
  transition: all 0.3s ease;
}

.adminBackButton {
  padding: 12px 20px;
  background-color: transparent;
  border: 2px solid #DC2655;
  color: #DC2655;
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.adminBackButton:hover {
  transform: scale(1.03);
  border-color: #c4204b;
  color: #DC2655;

}

.adminProductDetail__name {
  font-size: 32px;
  font-weight: 900;
  color: #d54343;
  margin-bottom: 28px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(213, 67, 67, 0.4);
}

.adminProductDetail__image {
  display: block;
  margin: 0 auto 30px auto;
  /* max-width: 100%; */
  width: 100px;
  height: auto;
  border-radius: 20px;
  border: 2px solid #f3b9b9;
  box-shadow: 0 8px 20px rgba(213, 67, 67, 0.2);
  transition: transform 0.3s ease;
}

.adminProductDetail__image:hover {
  transform: scale(1.02);
}

.adminProductDetail__fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  font-family: "Traffic";

}

.adminProductDetail__info {
  font-size: 18px;
  font-family: "Traffic";
  /* font-weight: 700; */
  padding-right: 5px;
  /* margin-bottom: 6px; */
  color: #DC2655;
}

.adminProductDetail__input,
.adminProductDetail__textarea {
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  font-family: "Traffic";
  border: 2px solid #ccc;
  border-radius: 12px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.adminProductDetail__input:focus,
.adminProductDetail__textarea:focus {
  outline: none;
  border-color: #c4204b;
}

.adminProductDetail__textarea {
  resize: vertical;
  min-height: 100px;
}

.adminSaveButton,
.adminDeleteButton {
  flex: 1;
  font-size: 18px;
  font-family: "Digikala ";
  padding: 11px 28px;
  border: none;
  border-radius: 14px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease;
}

.adminSaveButton {
  background-color: #DC2655;
  color: #fff;
}

.adminSaveButton:hover {
  background-color: #c4204b;
  transform: translateY(-2px);
}

.adminDeleteButton {
  background-color: #b00020;
  color: #fff;
  margin-left: 16px;
}

.adminDeleteButton:hover {
  background-color: #8a001a;
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .adminProductDetailContainer {
    padding: 24px;
  }

  .adminSaveButton,
  .adminDeleteButton {
    font-size: 16px;
    padding: 12px 20px;
  }

  .adminProductDetail__name {
    font-size: 26px;
  }
}
.adminProductDetail__imageCardMain {
  margin: 20px auto 0;
  display: block;
  border-radius: 12px;
}


.pnocategory{
  width: 100%;
  text-align: center;
  color: #eed1d1;
  font-family: "B Mehr";
}

.toggle-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  position: relative;
  padding-right: 60px; 
  margin-bottom: 20px;
}

.toggle-btn::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 24px;
  background-color: #ccc;
  border-radius: 24px;
  transition: background-color 0.3s ease;
}

.toggle-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 28px;          
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  transition: right 0.3s ease;
}

/* حالت فعال */
.toggle-btn.active::before {
  background-color: #DC2655;
}

.toggle-btn.active::after {
  right: 2px;           
}

.delete-product-button{
  background-color: transparent;
  border: 1px solid #DC2655;
  border-radius: 6px;
  padding: 8px 15px;
  color: #DC2655;
  cursor: pointer;
  transition: all 0.3s ease;
}

.save-product-button{
  background-color: #DC2655;
  border: none;
  border-radius: 6px;
  padding: 8px 15px;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
}

.delete-product-button:hover,
.save-product-button:hover{
  transform: scale(1.05);
}
