.adminBrandCardadmin {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-radius:100%; 
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  background: white;
  border: 3px solid #D1D1D4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.adminBrandCardadmin:hover {
  box-shadow: 0 6px 15px rgba(17, 15, 15, 0.25);
  transform: scale(1.01);
}

.adminBrandCardadminhover{
  min-width: 170px !important;
  min-height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 100%;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.adminBrandCardadminhover.brandActive:hover {
  border-color: #28a745 !important; 
  /* box-shadow: 0 8px 16px rgba(40, 167, 69, 0.2); */
}

.adminBrandCardadminhover.brandInactive:hover {
  border-color: #d54343 !important; 
  /* box-shadow: 0 8px 16px rgba(213, 67, 67, 0.2); */
}

.adminBrandCardadmin__image {
  width: 50%;
  height: 50%;
  border: none;
  /* object-fit: fill; */
  user-select: none;
  pointer-events: none;
  margin: 0 auto;
}
