.attributeField {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.inputWrapper {
  flex: 1;
  position: relative;
  margin: 0;
}

.attributeKey,
.attributeValue {
  width: 100%;
  padding: 10px 8px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  font-size: 14px;
  font-family: "Traffic";
  line-height: normal;
  vertical-align: middle;
  display: block;
  box-sizing: border-box;
}

.deleteAttrBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.deleteAttrBtn img{
  width: 28px;
  height: auto;
}

.deleteAttrBtn:hover {
  transform: scale(1.05);
}

.floatingLabel {
  position: absolute;
  top: 8px;
  left: 12px;
  font-size: 12px;
  font-family: "Traffic";
  color: #999;
  pointer-events: none;
  transition: 0.2s ease all;
}

.inputWrapper input:focus + .floatingLabel,
.inputWrapper input:not(:placeholder-shown) + .floatingLabel {
  top: -10px;
  left: 8px;
  font-size: 10px;
  color: #e75454;
  background: white;
  padding: 0 4px;
}