.background-pattern-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.pattern-img {
  width: 150px;
  position: absolute;
  opacity: 0.4;
  user-select: none;
}

.pattern-img.left {
  left: -20px; 
  transform: scaleX(-1);
}

.pattern-img.right {
  right: -20px;
}

/* ریسپانسیو */
@media (max-width: 768px) {
  .pattern-img {
    width: 100px;
  }

  .pattern-img.left {
    left: -10px;
  }

  .pattern-img.right {
    right: -10px;
  }
}
