

.brandsSwiperContainer {
  background-color: #f0f0f0;
  border-radius: 0 0 16px 16px;
  overflow: hidden;
  margin: 0 50px 20px 50px;
  padding: 20px;
  position: relative;
  /* box-shadow: 0px 0px 5px #ff00006b; */
}

.brandsTitle {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'kanun ';
  padding: 12px 24px;
  margin: 0 50px 0px 50px;
  background-color: #ee3333;
  /* background: linear-gradient(135deg, #dc2655, #ff6b81, #ef8ca8); */
  border-radius: 12px 12px 0 0;
  /* box-shadow: 0 4px 12px rgba(220, 38, 85, 0.3); */
  /* box-shadow: -0px -0px 5px #af0000; */
  text-shadow: 2px 2px 5px #e6e6e6;
}

.brandSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  position: relative;
}


.brandWrapper {
  display: flex;
  align-items: center;
  position: relative;
}


.brandWrapper:hover .brandLogo {
  transform: scale(1.06);
}

.brandDivider {
  width: 1px;
  height: 60px;
  background-color: #af0000;
  opacity: 0.5;
  margin-right: 82px;
  box-shadow: 0px 0px 5px #ff0000
}


.brandLogo {
  height: auto;
  width: 70px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* .....ریسپانسیو..... */

@media (max-width: 600px) {
  .brandsSwiperContainer {
    margin: 0 20px 20px 20px;
    padding: 16px;
  }

  .brandsTitle {
    font-size: 18px;
    margin: 0 20px;
    padding: 10px 16px;
  }

  .brandLogo {
    width: 55px;
  }

  .brandDivider {
    margin-right: 40px;
    height: 50px;
  }

  .brandSlide {
    height: 70px;
  }
}
