.cartpagecontainer{
  direction: rtl;
  display: flex;
  right: 0;
  left: 0;
  padding: 50px;
  margin-top: 100px;
  gap: 30px;

}

.itemcontainor{
    padding: 20px;
    width: 80%;
}

.title{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 20px;
}

.titleimg{
  width: 30px;
  height: 30px;
}

.items{
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.pricediv {
  width: 28%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: sticky;
  top: 150px;
  z-index: 10;
  height: 100%;
}

.pricecontainor {
  border: 1px solid #ccc;
  width: 100%;
  padding: 20px 0 0 0;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 15px;
}

.Totalprice{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 18px;
}

.pricetext{
  text-align: right;
  width: 100%;
}

.pricenumdiv{
  gap: 5px;
  direction: ltr;
  display: flex;
  width: 100%;
}

.buybutton {
  height: 50px;
  width: 100%; 
  background-color: #DC2655;
  border-radius: 0 0 20px 20px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  bottom: 0;
}

.tomanimg{
    width: 18px;
    height: 18px;
}

.pricenumber{
  font-size: 30px;
  font-weight: bold;
  display: inline-block; 
  text-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

.cartitem{
  width: 100%;
  border: 1px solid #D1D4D4;
  border-radius: 20px;
  gap: 20px;
  padding: 15px 25px 30px 0;
}
.cartitemlink{
  text-decoration: none;
  color: inherit;
}

.itemsimg {
  width: auto;
  height: 250px;
}

.itemsinfo{
    width: 100%;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.itemsname{
    font-size: 20px;
    width: 100%;
}

.warrantycontainor{
    display: flex;
    gap: 30px;
}

.warrantydiv{
    display: flex;
    align-items: center;
    gap: 5px;
}

.warrantylabel{
    color: #3E4344;
}

.warrantyimg{
    width: 23px;
    height: 23px;
}

.itemsproductcolor{
    width: 80px;
    height: 32px;
    background-color: #F0F0F0;
    border-radius: 25px;
    display: flex;
    align-items: center; 
    padding: 2px 10px;
    gap: 10px;
}

.itemsproductcolorshow{
    border-radius: 100%;
    background-color: white;
    width: 20px;
    height: 20px;   
}

.itemshr{
  height: 0.5px;
  color: #D1D4D4;
}

.pricenum{
  direction: ltr;
  display: flex;
  align-items: center;
  gap: 20px;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  width: 100px;
  border-radius: 8px;
  padding: 4px;
  background-color: #F0F0F0;
}

.numberbtn {
  width: 26px;
  height: 25px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.numbercount {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.pricepart{
    display: flex;
    align-items: center;
    gap: 50px;
}

.pricelab{
  color: #676F71;
}


.binbutton{
    margin-right: 920px;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.binimg{
    width: 25px;
    height: 25px;
}