@font-face {
  font-family: 'Yekan';
    src: url('./src/fonts/BYekan.ttf') format('truetype');
}

.categorie-title{
  text-align: center;
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.categorySwiperContainer {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 54px;
  box-sizing: border-box;
  position: relative;
  background-color: transparent;
  direction: rtl;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.categorySwiper {
  direction: rtl !important;
  overflow: visible !important;
}

.categorySwiperSlide {
  max-width: 160px !important;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 100%;
  text-decoration: none;
  color: inherit;
}

.categorySwiperSlide > div {
  border: 3px solid #D1D1D4;
    /* outline: 2px solid #a33444;     */
    outline-offset: 6px;         
  border-radius: 800px;
  text-align: center;
  padding: 16px;
  width: 290px;
  height: 160px;
  box-sizing: border-box;
  transition: box-shadow 0.5s ease;
  cursor: pointer;
}


.categorySwiperSlide > div:hover {
  box-shadow: 0 6px 15px rgba(17, 15, 15, 0.25);
  outline: 3px solid #a72639;
}

.categorySlideImg {
  width: auto;
  height: 80px;
  margin-bottom: 8px;
  object-fit: cover;
  user-select: none;
}

.categorySwiperSlide > div:hover {
  transform: scale(1.01);
}

.categorySlidetext{
  font-family: 'Yekan';
  font-size: 17px;
  color: black;
}


.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 60%;
  width: 32px;
  height: 32px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  color: #484646;
  transition: all 0.3s ease;
  z-index: 10 !important;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.3);
  transform: translateY(-40%) scale(1.08);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}


.swiper-button-prev {
  right: -38px !important;
  left: auto !important;
}

.swiper-button-next {
  left: -38px !important;
  right: auto !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
  transition: font-size 0.3s ease;
}