@font-face {
    font-family: 'Vazirmatn';
    src: url('./src/fonts/Vazirmatn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.contactus-head-logo {
    margin: -50px auto 0 auto;
    display: block;
}

.contactus-head-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contactus-head-p {
    color: rgba(255, 255, 255, 0.91);
    text-shadow: 2px 2px 7px #ffffffe8;
    font-size: 5vw;
    margin-top: -50vh;
    text-align: center;
}

.contactus-upbody {
    direction: rtl;
    margin: 150px 5vw 0 5vw;
    gap: 10px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.contactus-upbody-img {
    width: 40px;
}

.contactus-upbody-title {
    font-size: 1.5em;
    color: #2d3748;
    font-family: 'Vazirmatn', sans-serif;
}

#contactus-span {
    color: #dc2655;
}

.contactus-upbody-p {
    color: #2d3748;
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
    font-size: 1.1em;
    line-height: 1.6;
    padding: 10px 5vw;
}

.contactus-body {
    width: 90%;
    max-width: 1000px;
    height: auto;
    margin: 40px auto;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
}

.contactus-map {
    width: 90%;
    max-width: 700px;
    height: 40vh;
    border-radius: 16px;
    margin: 60px auto;
    display: block;
}

.contactus-body-info {}

.contactus-Support {
    display: flex;
    direction: rtl;
    margin-right: 5vw;
    align-items: center;
    gap: 7px;
    flex-wrap: wrap;
}

.contactus-Support-img {
    width: 35px;
}

.contactus-Support-p {
    color: #2d3748;
    font-family: 'Vazirmatn', sans-serif;
}

#phone-num,
#gmail-add,
#address {
    font-size: 20px;
    font-family: "Bita";
    white-space: pre-wrap;
    margin: 10px 0;
    padding-bottom: 20px;
    margin-left: 0;
}

/* ......ریسپانسیو..... */
@media (max-width: 600px) {
    .contactus-head-img{
      margin-top: 150px;      
    }

    .contactus-head-p {
        font-size: 6vw;
        margin-top: -200px;
        margin-bottom: 10px;
    }

    .contactus-head-logo{
        width: 60%;
    }

    .contactus-upbody {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 100px;
    }

    .contactus-map {
        height: 250px;
    }

    .contactus-upbody-title {
        font-size: 22px;
    }

    .contactus-upbody-p {
        font-size: 16px;
        padding: 10px 20px;
    }

    #phone-num,
    #gmail-add,
    #address {
        font-size: 17px;
        text-align: right;
        margin-left: 0;
        padding: 10px 60px 10px 0;
    }
}
