  @font-face {
    font-family: 'KanunStencilAR';
    src: url('./src/fonts/KanunStencilAR+LT-Bold.otf') format('truetype');
  }

  @font-face {
    font-family: 'B Mehr Bold_0';
    src: url('./src/fonts/B Mehr Bold_0ttf') format(truetype);
  }

  @font-face {
    font-family: 'Traffic';
    src: url('./src/fonts/Far.Traffic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'c';
    src: url('./src/fonts/B Mehr Bold_0.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Jalal';
    src: url('./src/fonts/BJalalBd.ttf') format('truetype');
  }

.overlay {
  direction: rtl;
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupbox {
  background-color: #fff;
  width: 400px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.popuptitle {
  font-family: "KanunStencilAR";
  font-size: 20px;
}

.hrpart{
  border: none;
  height: 1px;
  background-color: #ccc;
}

.formbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formbox p{
  font-family: "Traffic";
}

.profinput{
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: "Jalal";
  font-size: 14px;
  padding: 6px;
}

.profinput:focus{
  outline: none;
  border: 1px solid #DC2655;
}

.closebtn {
  position: absolute;
  top: 12px;
  left: 15px;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #333;
}

.formbuttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.submitbtn {
  width: 100%;
  font-family: 'Digikala ';
  font-size: 18px;
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 2px;
  border-radius: 8px;
  cursor: pointer;
}

.submitbtn:hover{
      background-color: #BF173E;

}

@media (max-width: 768px){
  .overlay{
    top: 200px;
    font-size: 90%;
  }

  .popupbox{
    width: 350px;
    height: 490px;
    padding: 15px 35px;
  }

  .popuptitle{
    font-size: 18px;
  }
}