.footer{
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px 100px 50px 100px;
  direction: rtl;
  background: linear-gradient(to right, #f5f5f5, #d9d9d9, #a6a6a6);
}

.Footerhead{
  padding: 0 20px;
  display: flex;
  align-items: center;

}

.scrollbtn {
  display: block;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  margin-right: auto; 
}

.scrollbtn:hover {
  transform: scale(1.08);
}

.scrollbtn img {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease;
}

.scroll-text {
  opacity: 0;
  transform: translateX(10px);
  transition: all 0.3s ease;
  white-space: nowrap;
  font-size: 14px;
  color: linear-gradient(to right, #f5f5f5, #d9d9d9, #a6a6a6);
}

.scrollbtn:hover .scroll-text {
  opacity: 1;
  transform: translateX(0);
}

.section{
  display: flex;
  gap: 10px;
}

.logo-img{
  width: 128px;
  height: auto;
}

.marker-img{
  width: 25px;
  height: 25px;
}

.link-footer{
  text-decoration: none;
  color: #676F71;
  transition: all 0.3s ease;
}

.link-footer:hover{
  text-shadow: 1px 1px 3px rgba(95, 95, 97, 0.6);
  text-decoration: none;
}

.Services{
  padding: 0 10px;
  width: 90%;
  line-height: 1.9;
}

.iconfooter{
  margin-right: 10px;
  gap: 20px;
  display: flex;
}

.custom-hr {
  height: 1.25px;
    background: linear-gradient(to right, #a6a6a6, #d9d9d9, #f5f5f5);
  width: 100%;
  margin: 20px 0;
}

.service{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.service-part{
  display: flex;
  gap: 5px;
}


span{
  color: #676F71;
}

.more{
  margin-top: 10px;
  color: #676F71;
}

.footerp{
  width: 50%;
}