html, body, #root {
overflow-y: auto;
}
.mainPageContainer {
  height: 100vh;
  overflow-y: auto;
  background-color: transparent;
  scrollbar-color: #e75480 transparent;
  position: relative;
  scroll-behavior: smooth;
}
.mainPageContainer::-webkit-scrollbar-track{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
}
.mainPageContainer::-webkit-scrollbar{
        margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.titleslider{
  color: white;
  font-size: 28px;
}


.sliderdiv{
  border: 1px solid #c97575;
  border-radius: 12px;
  margin: 0 60px;
  scroll-margin-top: 150px;
}

.titlepart{
  background-color: #c97575;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}


@keyframes swing {
  0%   { transform: rotate(-10deg); }
  50%  { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}

.rotatedimg {
  animation: swing 0.8s ease-in-out infinite;
  transform-origin: center; 
  width: 45px;
  height: 45px;
}


.titleslider1{
  color: white;
  font-size: 28px;
}
