html, body, #root {
overflow-y: auto;
}
.mainPageContainer {
  height: 100vh;
  overflow-y: auto;
  background-color: transparent;
  scrollbar-color: #e75480 transparent;
  position: relative;
  scroll-behavior: smooth;
}
.mainPageContainer::-webkit-scrollbar-track{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
}
.mainPageContainer::-webkit-scrollbar{
        margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
}
