.modal-order-overlay {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  direction: rtl;
}

.modal-orders-content {
  background: #fff;
  padding: 24px 15px;
  border-radius: 16px;
  width: 90%;               
  max-width: 900px;         
  position: relative;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.modal-body {
  padding: 15px 10px;
}

.order-modal-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.order-modal-table th,
.order-modal-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.order-modal-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.orders-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.modal-button {
  background-color: #dc2655;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.modal-button-back {
  background-color: #999;
  color: #fff;
  margin-right: 8px;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.modal-button.gray {
  background-color: #999;
  margin-right: 8px;
}

.modal-textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: vertical;
  font-family: 'Traffic';
  margin-top: 12px;
}

.modal-textarea:focus {
  border-color: #c4204b;
  outline: none;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  gap: 10px;
}

.modal-select {
  width: 100%;
  padding: 8px 12px;
  border: 1.5px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  font-family: 'Traffic';
  background-color: #fff;
  color: #333;
  outline: none;
  margin-top: 12px;
  cursor: pointer;
}

.modal-select:focus {
  border-color: #c4204b;
}
