@font-face {
  font-family: 'Tunisia';
  src: url('./src/fonts/Tunisia Bd_MRT.ttf') format('truetype');
}

@font-face {
  font-family: 'Estedad';
  src: url('./src/fonts/Estedad[wght,kshd].ttf') format('truetype');
}

.cardContainer {
  width: 230px;
  height: 340px;
  perspective: 1000px;
  direction: rtl;
  font-family: 'IRANSans', sans-serif;
}

.cardInner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}

.cardContainer:hover .cardInner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.cardFront,
.cardBack {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.cardFront {
  border: 1px solid #ccc;
  /* box-shadow: 2px 2px 3px #817f7fcc; */
  box-shadow: 0px 2px 8px #817f7fcc;
  padding: 0 16px 16px 16px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardBack {
  /* background-color: #fff; */
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  
}

.backImage-small {
  width: 100px;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
}

.backImage-large {
  /* box-shadow: 0px 2px 10px rgba(255, 0, 0, 0.514); */
  /* filter: drop-shadow(1px 1px 20px rgba(255, 0, 0, 0.514)); */
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
}

.productImage {
  mix-blend-mode: multiply;
  width: 100px;
  height: auto;
  margin: auto auto 16px;
  display: block;
}

.ProductName {
  font-size: 13px;
  font-family: "Estedad";
  color: #333;
  margin: 4px 0;
  text-align: center;
  line-height: 1.2;
  max-height: 2.4em;
  overflow: hidden;
}

.ProductModel {
  font-size: 13px;
  color: #888;
  margin: 2px 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productinfo {
  padding: 5px 0;
  height: 72px;
  margin-bottom: 10px;
  overflow: hidden;
  word-wrap: break-word;
}

.priceSection {
  margin-top: 5px;
  margin-right: 5px;
  bottom: 0;
}
.productOriginalPrice {
  font-family: "BYekan";
  font-style: normal;
  font-size: 11px;
  color: #888;
  text-decoration: line-through;
  margin-bottom: 4px;
}

.priceDetails {
  text-align: left;
  flex: 1;
  bottom: 0;
}

.productSalePrice {
  font-family: "BYekan";
  font-size: 14px;
  color: #000; /* bright red for discount */
  font-weight: bold;
}

.ProductPrice {
  font-family: "BYekan";
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

.salePercent {
  font-family: 'Tunisia';
  top: 0;
  margin-right: 162px;
  height: 38px;
  width: 32px;
  background-color: #ff1d1dce;
  color: white;
  text-align: center;
  padding-top: 8px;
  font-size: 14px;
  white-space: nowrap;
  border-radius: 0px 0px 12px 12px;
}

.price-title {
  font-family: "Jalal";
  font-size: 17px;
  /* font-weight: 600; */
}

#idont-know-hr{
  border: none;
  height: 1px;
  background-color: #dc2655;
  box-shadow: 3px 2px 10px red;
}
/* ....ریسپانسیو.... */
@media screen and (max-width: 600px) {
  .cardContainer{
    margin-right: 0px;
    margin-left: 0px;
  }
  .cardInner {
    width: 90%;
    height: 85%;
  }

  .productImage {
    width: 48%;
  }

  .ProductName,
  .ProductModel,
  .productSalePrice,
  .ProductPrice {
    font-size: 12px;
  }

  .salePercent {
    margin-right: 135px;
    font-size: 10px;
    width: 25px;
    height: 26px;
    padding: 5px;
  }
}
