* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.Information {
  margin-right: 150px;
  display: flex;
  gap: 10px;
  direction: rtl;
}
.hr {
  border: none;
  border-top: 2px dotted #D1D1D4; 
  width: 90%;
  margin: 30px 0 20px auto;
  opacity: 0.9;
}

.hr-side {
  border: none;
  height: 2px;
  width: 85%;            
  background-color: #D1D1D4; 
  margin: 24px auto;      
  border-radius: 2px;   
}
.Introduction,
.specs {
  display: none;
}

.Introduction + label,
.specs + label {
  width: 70px;
  cursor: pointer;
  font: 800 18px/1.2 sans-serif;
  background: transparent;
  padding: 6px 10px;
  border-radius: 5px;
  color: #000;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
}

.Introduction:checked + label,
.specs:checked + label {
  background: rgba(0, 0, 0, 0.1);
}

.Introduction:checked + label::after,
.specs:checked + label::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: red;
}

.product-text {
  direction: rtl;
  text-align: right;
  font-size: 14px;
  color: #333;
  line-height: 1.8;
  transition: all 0.3s ease;
}

