.cardContainer {
  width: 230px;
  height: 340px;
  perspective: 1000px;
  direction: rtl;
  font-family: 'IRANSans', sans-serif;
}

.cardInner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}

.cardContainer:hover .cardInner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.cardFront {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px rgba(129, 127, 127, 0.8);
  padding: 0 16px 16px 16px;
  z-index: 2;
}

.cardBack {
  background-color: #fff;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}


.backImage-small {
  width: 100px;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
}

.backImage-large {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
}

.productImage {
  width: 100px;
  height: auto;
  margin: 0 auto 16px;
  display: block;
}

.ProductName {
  font-size: 16px;
  color: #333;
  margin: 4px 0;
  text-align: center;
}

.ProductModel {
  font-size: 13px;
  color: #888;
  margin-bottom: 12px;
  text-align: center;
}

.productinfo {
  padding: 5px 0;
  height: 20%;
  margin-bottom: 15px;
}

.priceSection {
  margin-top: 10px;
  margin-right: 5px;
  bottom: 0;
}

.priceDetails {
  margin-top: 5px;
  text-align: left;
  flex: 1;
  bottom: 0;
}

.productSalePrice {
  font-size: 13px;
  color: #888;
  text-decoration: line-through;
}

.ProductPrice {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin-top: 4px;
}

.salePercent {
  top: 0;
  margin-right: 150px;
  height: 38px;
  width: 32px;
  background-color: #F87171;
  color: white;
  text-align: center;
  padding-top: 8px;
  font-size: 13px;
  white-space: nowrap;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}