  .profilecontent{
    margin: 160px 30px 50px 30px;
    direction: rtl;
    display: flex;
    gap: 20px;
  }

  .orderdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .border{
    background-color: white;
    display: flex;
    justify-content: center;
    border: 1px solid #D1D4D4;
    border-radius: 15px;
    padding: 15px;
    gap: 280px;
    width: 100%;
  }

  .statusparts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .statusicons{
    width: 65px;
    height: 65px;
  }

  .statusdiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .statusdiv p{
    font-family: "tabriz";
  }

  .description{
    font-family: "traffic";
    color: #676F71;
    margin-right: 2px;
  }

  .bordertwo{
    background-color: white;
    border: 1px solid #D1D4D4;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
  }

  .titleprofile{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .titleimg{
    width: 30px;
    height: 30px;
  }

  .titlehprof{
    font-family: "KanunStencilAR";
    color: #3E4344;
  }

  .filterpart{
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
  }

  .formlabel {
    display: block;
    color: #333;
    font-family: "Traffic";
    font-weight: bold;
    margin-bottom: 15px;
    margin-right: 5px;
  }

  .customselect,
  .custominput {
    width: 250px;
    padding: 10px;
    font-family: "Traffic";
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: transparent;
  }

  .customselect:focus,
  .custominput:focus {
      outline: none;
  }

  .customdate {
    width: 250px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: transparent;
  }

  .filter{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DC2655;
    font-family: "KamranB";
    font-size: 22px;
    border: none;
    border-radius: 12px;
    padding: 5px 26px;
    color: white;
    margin-top: 40px;
    cursor: pointer;
  }

  .filter:hover{
    background-color: #BF173E;
  }

  .editimg{
    width: 22px;
    height: 22px;
  }

  .orderTableContainer {
    margin-top: 30px;
    overflow-x: auto;
  }

  .orderTable {
    width: 100%;
    border-collapse: collapse;
    font-family: "Estedad";
    background-color: #fff;
    box-shadow: 0 0 8px #ccc;
  }

  .orderTable th,
  .orderTable td {
    padding: 12px 16px;
    border: 1px solid #e0e0e0;
    text-align: center;
  }

  .orderTable th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 14px;
  }

  .orderTable td{
    font-size: 14px;
    font-family: "BYekan";
  }

  .status {
    padding: 5px 12px;
    border-radius: 12px;
    font-weight: bold;
    display: inline-block;
    font-size: 12px;
  }

  .status.canceled {
    background-color: #ffe5e5;
    color: #d60000;
  }

  .status.delivered {
    background-color: #e6f5ec;
    color: #009d3e;
  }

  .status.returned {
    background-color: #eeeeee;
    color: #5f5f5f;
  }

  .noOrdersMessage {
    font-family: "B Mehr Bold_0";
    text-align: center;
    color: #888;
    font-size: 18px;
    padding: 30px;
  }


  @media (max-width: 768px){
    .profilecontent{
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 190px 20px 50px;
    }
    .orderdiv{
      width: 100%;
    }

    .border{
      gap: 40px;
      font-size: 12px;
      margin-bottom: 30px;
    }

    .border img{
      width: 45px;
      height: 45px;
    }
    .statusparts{
      gap: 5px;
    }

    .filterpart{
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .filter{
      margin: 0;
    }

    .orderTable th,
    .orderTable td{
      font-size: 12px;
      padding: 10px 4px;
  }
  }