.PromoContainer {
  position: relative;
  direction: rtl;
  overflow: hidden;
  height: 250px;
  width: 60%;
  margin: 20px ;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #919494;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.promoTitle {
  font-size: 1.8rem;
  font-weight: bold;
  /* margin: 0 0 10px 0; */
}

.PromoDescription {
  font-size: 1.1rem;
  /* margin-bottom: 20px; */
}

.seeAllBtn {
  align-self: flex-start;
  background-color: transparent;
  color: #a72639;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 6px 0;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.seeAllBtn:hover {
  transform: scale(1.05);
  text-shadow: 1px 1px 5px rgba(79, 26, 26, 0.3);
}

.promotexts{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:10px; 
}

.computerimg{
  width: 300px;
  height: auto;
}

.phoneimg{
  width: 220px;
  height: auto;
  margin-left: 20px;
}
