@font-face {
  font-family: 'MehrB';
    src: url('./src/fonts/B Mehr Bold_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Shablon';
    src: url('./src/fonts/A Shablon Cut.ttf') format('truetype');
}

@font-face {
  font-family: 'Kamran';
    src: url('./src/fonts/KamranB.ttf') format('truetype');
}


.promo-banner-swiper {
  padding: 30px 0;
  direction: rtl;
}

.promo-slide {
  width: 90%;
  height: 280px;
  max-width: 1500px;
}

.promo-banner-slide {
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: space-between; */
  border-radius: 20px;
  /* padding: 30px; */
  gap: 2rem;
  direction: rtl;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.promo-banner-content{
  padding: 30px;
  width: 100%;
}

.promo-banner-content h2 {
  font-family: "MehrB";
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.promo-banner-discription {
  font-size: 20px;
  font-family: "Shablon";
  color: #d32f2f;
  margin: 1rem 0;
}

.promo-banner-image{
  width: 100%;
  direction: ltr;
}

.promo-banner-image img{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 430px;
  height: 100%;
}

.promo-banner-button {
  background-color: #ffffff;
  color: black;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  border: none;
  border-radius: 200px;
  font-size: 22px;
  display: inline-block;
  text-align: center;
  font-family: "Kamran";
  cursor: pointer;
  box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.promo-banner-button:hover {
  background-color: #cfd0d2;
}
