.signUpBox {
  background-color: rgba(245, 245, 247, 0.85);
  border: 2px solid #dc4f623f;
  border-radius: 12px;
  padding: 0 50px;
  width: 30%;
  box-shadow: 0 8px 20px #d94f6194;
  box-sizing: border-box;
  position: fixed;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  direction: rtl;
}

.signUpBox h1 {
  color: #dc2655;
  text-align: center;
  margin-top: 1px;
  padding: 20px;
  font-family: 'B Mehr Bold_0';
  font-size: 28px;
}

.signup-inputWrapper {
  position: relative;
  margin-bottom: 15px;
  width: 100%;
}

.signUpInput {
  width: 100%;
  padding: 11px 15px;
  border: 1.8px solid #5c5c5c75;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Traffic";
  box-sizing: border-box;
  color: #333;
  background-color: #fafafa;
  transition: border-color 0.3s ease;
  text-align: right;
  direction: rtl;
}

.signUpcodeButton{
  background-color: transparent;
  border: 2px solid #dc2655;
  border-radius: 8px;
  color: #dc2655;
  width: 30%;
  font-size: 14px;
  font-family: "Digikala ";
  margin-bottom: 15px;
  /* padding: 14px 15px; */
}

.signUpcodeButton:hover{
  background-color: rgb(244, 165, 165);
  box-shadow: 0 0px 20px #ff002294;
}

.signUpInput:focus {
  outline: none;
  border-color: #dc265475;
  background-color: #fff0f1;
}

.signup-floatingLabel {
  position: absolute;
  right: 15px;
  top: 14px;
  color: #999;
  font-size: 16px;
  font-family: "Traffic";
  pointer-events: none;
  transition: all 0.2s ease;
  background-color: transparent;
  padding: 0 4px;
}

.signUpInput:focus+.signup-floatingLabel,
.signUpInput:not(:placeholder-shown)+.signup-floatingLabel {
  background-color: rgba(245, 245, 247, 0.85);
  top: -11px;
  right: 10px;
  font-size: 13px;
  color: #dc2655;
}

.signUpButton {
  width: 100%;
  padding: 8px;
  background-color: #dc2655;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-family: "Digikala ";
  transition: background-color 0.3s ease;
}

.signUpButton:hover {
  background-color: #a33444;
}

#signinlabel {
  font-family: "Vazirmatn";
  font-style: normal;
  margin-top: 30px;
  margin-bottom: 0;
  text-align: right;
  color: gray;
}

.check {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #d94f61;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  margin-left: 8px;
  margin-bottom: 20px;
}

.check:checked {
  background-color: #d94f61;
  border-color: #d94f61;
}

.check:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkboxWrapper {
  font-family: "Traffic";
  direction: ltr;
  text-align: right;
  margin-bottom: 10px;
}

.checkboxWrapper label {
  font-size: large;
  color: gray;
  position: relative;
  bottom: 7px;
}

.signup-logo {
  width: 160px;
  height: auto;
  position: relative;
  z-index: 10;
}

.signup-logo-container {
  text-align: center;
  margin-top: 15px;
  /* margin-bottom: 10px; */
}

.signup-link {
  color: #dc2655;
  text-decoration: none;
  position: relative;
  margin-right: 10px;
}

.for-signin {
  color: #dc2655;
  text-decoration: none;
  font-size: 17px;
  text-align: right;
  position: relative;
  margin-right: 140px;
  bottom: 28px;
  font-family: "Tunisia";
}
#singup-rules{
  text-decoration: none;
  color: #d94f6194;
}

#singup-rules:hover{
  color: #ff0022b6;
}
/* ....ریسپانسیو.... */

@media (max-width: 600px){
  .signUpBox{
    width: 80%;
  }

  .signInInputemail ,
  .signInButton{
    height: 40px;
    font-size: 18px;
  }
  .signInBox h1{
    font-size: 23px;
  }
  
}