

.signInBox {
  background-color: rgba(245, 245, 247, 0.85);
  border: 2px solid #dc4f623f;
  border-radius: 12px;
  padding: 20px 20px;
  width: 500px;
  box-shadow: 0 8px 20px #d94f6194;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  direction: rtl;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signInBox h1 {
  color: #dc2655;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 1px;
  font-family: 'B Mehr Bold_0';
  font-size: 28px;
}

.signInBox p {
  color: #666;
  margin-bottom: 30px;
  text-align: center;
  font-size: 15px;
  font-family: "Vazirmatn";
}

.inputWrappersignin {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
}

.signInInputemail {
  padding: 12px 15px;
  border: 1.8px solid #5c5c5c75;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  color: #333;
  background-color: #fafafa;
  transition: border-color 0.3s ease;
  text-align: right;
  direction: rtl;
  width: 100%;
}

.signInInputemail:focus {
  outline: none;
  border-color: #dc265475;
  background-color: #fff0f1;
}

.floatingLabel {
  color: #999;
  font-size: 15px;
  font-family: "Traffic";
  pointer-events: none;
  transition: all 0.2s ease;
  background-color: transparent;
  padding: 0 4px;
  position: absolute;
  top: 14px;
  right: 15px;
  user-select: none;
  display: inline-block;
  width: fit-content;
}

.signInInputemail:focus+.floatingLabel,
.signInInputemail:not(:placeholder-shown)+.floatingLabel {
  background-color: rgba(245, 245, 247, 0.85);
  top: -10px;
  right: 10px;
  font-size: 13px;
  color: #dc2655;
}

#signuplabel {
  font-family: "Vazirmatn";
  text-align: right;
  color: gray;
  font-size: 15px;
}

.signInButton {
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  background-color: #dc2655;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  font-family:'Digikala ';
  transition: background-color 0.3s ease;
}

.signInButton:hover {
  background-color: #a33444;
}

.sign-logo {
  width: 160px;
  height: auto;
  position: relative;
  z-index: 10;
}

.logo-container {
  text-align: center;
  margin-top: 110px;
  margin-bottom: 10px;
}

.signinlinkcontainor{
  display: flex;
}

#signinmobilelink ,
#signuplink ,
#signinemaillink{
  color: #dc2655;
  text-decoration: none;
  position: relative;
  font-family: 'Tunisia';
  border: none;
  margin-right: 10px;
  margin-top: -2px;
}

#signinmobilelink{
  margin-right: 150px;
}

#signinemaillink{
  margin-right: 190px;
}

@media (max-width: 768px){
  .signInBox{
    width: 80%;
  }

  .signInInputemail ,
  .signInButton{
    height: 40px;
    font-size: 18px;
  }
  .signInBox h1{
    font-size: 23px;
  }

  #signinmobilelink ,
  #signuplink ,
  #signinemaillinkb{
    padding: 0;
  }

  #signinmobilelink{
    margin-right: 56px;
  }

  #signinemaillink{
    margin-right: 100px;
  }
  
}