@font-face {
  font-family: 'Estedad';
  src: url('./src/fonts/Estedad[wght,kshd].ttf') format('truetype');
}

.user-menu-container {
  background-color: #e6e6e65d;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  display: flex;
  cursor: pointer;
}

.profile-icon {
  width: 28px;
  height: 28px;
}

.user-dropdown {
  width: 240px;
  padding: 18px 0;
  position: absolute;
  top: 48px;
  left: 0;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.38);
  display: flex;
  flex-direction: column;
  min-width: 180px;
  z-index: 10;
  animation: fadeIn 0.2s ease-out;
  font-family: "Estedad";
  font-size: 12px;
}

.proficon{
  width: 22px;
}

.user-dropdown hr{
  border: 1px solid #c0bdbd;
  margin: 5px 18px;
}

.user-dropdown a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2px;
  color: #333;
  padding: 10px 22px;
  transition: all 0.3s ease;
  font-size: 14px;
}

.user-dropdown a:hover {
  transform: scale(1.01);
  margin: 0 2px;
  background-color: #F5F5F5;
}


.logout {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 2px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  color: #e53935;
  font-weight: bold;
}

.user-dropdown .logout:hover{
  background-color: #f2dad9;
  transform: scale(1.01);
  margin: 0 2px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px){
  .user-menu-container{
  width: 48px;
  height: 48px;  
  }

  .user-dropdown {
    left: -250px;
    top: 0;
  }
}