.warehouse-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;             
  max-width: 1230px;      
  margin: 0 auto 0 0;        
  direction: rtl;
}

.warehouse-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px #ccc;
  padding: 16px 28px;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;         
  min-height: 120px;    
  box-sizing: border-box;
}

.warehouse-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.warehouse-titles{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 16px 0;
  width: 100%;         
  gap: 20px;
}

.warehouse-titles h5{
  display: flex;
  flex: 1;
  justify-content: center;
}

.info-line {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 4px 0; */
  width: fit-content;
  font-size: 14px;
  color: #333;
}

.card-buttons {
  display: flex;
  flex-direction: column; 
  gap: 8px;
  min-width: 110px;       
}

.edit-button,
.delete-button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  user-select: none;
  width: 100%;
}

.edit-button {
  background-color: #4caf50;
  color: white;
}

.edit-button:hover {
  background-color: #388e3c;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.delete-button:hover {
  background-color: #d32f2f;
}

/* کانتینر دکمه افزودن انبار */
.add-warehouse-button-container {
  margin-top: 20px;
  /* text-align: center; */
  margin-left: 600px;
}

/* دکمه افزودن انبار */
.add-warehouse-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #929292;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
}

.add-warehouse-button:hover {
  background-color: #800000;
}
.warehousetitle{
  margin: 20px auto 20px 600px;
 
}

.notifications-button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
  width: 100%;
}

.notifications-button:hover {
  background-color: #1565c0;
}
